body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #111;
}

img {
  width: 100%;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 6rem;
}

.error {
  color: brown;
}

.f-08r {
  font-size: 0.8rem;
}

.primary_button {
  background: #f3d078;
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid #8f8d8d;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  height: 31px;
  padding: 0;
  font-size: 0.8rem;
}
.primary_button:hover {
  background: linear-gradient(to bottom, #f7dfa5, #f1b111);
}

.secondary_button {
  background: #eff0f3;
  background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  font-size: 0.8rem;
  border: 1px solid #8f8d8d;
}
.secondary_button:hover {
  background: linear-gradient(to bottom, #f7f8fa, #cecfd1);
}

.btn:focus,
a:focus,
input:focus {
  outline: none;
  box-shadow: none !important;
}

.send-message {
  text-align: center;
}

li.sidebar-li {
  cursor: pointer;
}

.a-sm-txt {
  font-size: 0.8rem;
  color: #0066c0;
}
.a-sm-txt:hover {
  color: brown;
}

.hover-color:hover {
  color: brown;
}

.d-none-desktop {
  display: none;
}

.d-none-mobile {
  display: block;
}

.min-h-100 {
  min-height: 100px;
}

@media screen and (max-width: 450px) {
  .d-none-desktop {
    display: block;
  }

  .d-none-mobile {
    display: none;
  }
}
.container-form-page {
  width: 350px;
  margin: auto;
  font-size: 0.8rem;
}
.container-form-page h1 {
  font-size: 2rem;
}
.container-form-page .form {
  border: 1px #ddd solid;
  border-radius: 4px;
}
.container-form-page .form h1 {
  font-size: 2rem;
}
.container-form-page .form .form-control {
  height: 31px;
  font-size: 0.8rem;
}
.container-form-page .form .form-control:focus {
  border: 1.5px solid #f3d078;
  outline: none;
}
.container-form-page .dropdown .dropdown-toggle {
  font-size: 0.8rem;
  color: #0066c0;
}
.container-form-page .dropdown .dropdown-toggle:hover {
  color: brown;
}
.container-form-page .dropdown .dropdown-menu {
  font-size: 0.8rem;
}
.container-form-page .dropdown .dropdown-menu li a.dropdown-item {
  color: #0066c0;
  background-color: none;
}
.container-form-page .dropdown .dropdown-menu li a.dropdown-item:hover {
  background-color: transparent;
  color: brown;
}
.container-form-page .dropdown .dropdown-menu.show {
  transform: translate(0px, 18px);
}

header {
  display: flex;
  justify-content: center;
}
header .navbar {
  width: 100%;
  background-color: #131921;
}
header .navbar .navbar-collapse {
  justify-content: center;
}
header .navbar .dropdown-menu {
  min-width: 14rem;
}
header .navbar .dropdown-menu[data-bs-popper] {
  left: -3rem;
}
header .navbar .logo-dark {
  width: 30%;
}
header .logo-light {
  width: calc(30% * 1.3);
}
header .a-logo {
  text-align: center;
}
header .dropdown li {
  font-size: 0.8rem;
}
header li a.dropdown-item {
  font-size: 0.8rem;
  color: #0066c0;
  background-color: none;
}
header li a.dropdown-item:hover {
  background-color: transparent;
  color: brown;
}
header li.li-inline {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}
header .navbar-dark .navbar-nav .nav-link {
  color: white;
}

body.index-page {
  background-color: #e5f1f1;
}
body.index-page div.page-hero {
  position: absolute;
  z-index: -1;
}
body.index-page div.page-hero img {
  width: 150%;
}
body.index-page div.container {
  margin-top: 125px;
}
body.index-page div.categories-wrapper a {
  text-decoration: none;
  color: #111;
}
body.index-page div.category-item {
  background-color: white;
  padding: 16px;
}
body.index-page div.category-item h4 {
  min-height: 60px;
}
body.index-page div.slick-container {
  background-color: white;
  margin-bottom: 10rem;
}
body.index-page div.slick-container .slick-slide img {
  width: 45%;
}
body.index-page div.slick-container p.details {
  min-height: 40px;
}
body.index-page div.slick-container div.img {
  min-height: 185px;
}
body.index-page div.slick-container .carousel {
  display: flex;
}
body.index-page div.slick-container .carousel button.slick_btn {
  height: 60px;
  align-self: center;
}
body.index-page div.slick-container .carousel .fa-chevron-left,
body.index-page div.slick-container .carousel .fa-chevron-right {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 0.8em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: black;
}
@media screen and (min-width: 768px) {
  body.index-page div.container {
    margin-top: 130px;
  }
  body.index-page div.page-hero img {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  body.index-page div.container {
    margin-top: 250px;
  }
}

body.overview-page .div.overview-container {
  color: #111;
}
body.overview-page div.d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
body.overview-page div.item {
  width: 350px;
}
body.overview-page div.item a {
  text-decoration: none;
  color: #111;
}
@media screen and (min-width: 500px) {
  body.overview-page div.item {
    width: 200px;
  }
}
@media screen and (min-width: 1000px) {
  body.overview-page div.item {
    width: 330px;
  }
}

body.admin-index a {
  color: #111;
}

#mySidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 5rem;
  left: -24px;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 30px;
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
}
#mySidebar ul li {
  list-style: none;
}
#mySidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: #111;
}
@media screen and (max-height: 450px) {
  #mySidebar {
    padding-top: 15px;
  }
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #f8f5f5;
}

#main-sidebar {
  transition: margin-left 0.5s;
  padding: 16px;
}

.sidebar-desktop {
  border-right: 1px solid #e7e7e7;
}
.sidebar-desktop ul {
  list-style: none;
  padding-left: 1rem;
}
.sidebar-desktop ul li {
  color: #111;
  font-size: 0.9rem;
  border-bottom: 1px solid #e7e7e7;
  width: 96%;
}
.sidebar-desktop ul li:hover {
  color: brown;
}

.myModal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  overflow: hidden;
}
.myModal .overlay {
  background-color: #00000073;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
}
.myModal .myMessage {
  position: absolute;
  top: 30vh;
  left: 40vw;
  background-color: white;
  padding: 40px;
  z-index: 999;
}

/*# sourceMappingURL=main.css.map */
