body.index-page {
  background-color: #e5f1f1;

  div.page-hero {
    position: absolute;
    z-index: -1;
  }

  div.container {
    margin-top: 250px;
  }

  div.categories-wrapper {
    a {
      text-decoration: none;
      color: $body-color;
    }
  }

  div.category-item {
    background-color: white;
    padding: 16px;

    h4 {
      min-height: 60px;
    }
  }
}

body.overview-page {
  .div.overview-container {
    color: $body-color;
  }
}
